{% extends '::layout/base.html.twig' %}

{% block main %}
    <h1>Ups! Ocurri칩 un error</h1>
    <h2>El servidor devuelve "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Algo est치 roto. Por favor, h치ganos saber lo que estaba haciendo cuando se produjo el error.<br>
        Vamos a encontrar una soluci칩n lo antes posible. Pedimos disculpas por cualquier inconveniente causado.
    </div>
{% endblock %}
