{% extends '::layout/base.html.twig' %}

{% block main %}
    <h1>Ups! Ocurrió un error</h1>
    <h2>El servidor devuelve "{{ status_code }} {{ status_text }}".</h2>

    <br>

    <h3>No tienes permisos para acceder.</h3>
{% endblock %}
