{% extends "layout/base.html.twig" %}

{% block body_id 'backup_index' %}

    {% block main %}
        {{ form_start(form) }}
        <div class="h4">
            &iquest;Confirma que desea realizar la copia de seguridad completa del sistema?
        </div>
        {{ form_widget(form) }}

        <button type="submit" name="action" value="confirmar" class="btn btn-primary">
            <i class="fa fa-download"></i> Descargar
        </button>
        {{ form_end(form) }}
    {% endblock %}
