<footer>
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
                <p>&copy; {{ 'now'|date('Y') }} - Grupo Uno</p>
            </div>
            <div id="footer-resources" class="col-md-6">
                <p>
                    <a href="" title="Grupo Uno Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="" title="Grupo Uno Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" title="Grupo Uno Blog">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
