<header>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <!--    <p>Servicio de Cardiología</p>
                        <p>Hospital San Martín</p> -->
                    <img src="{{asset('img/logos/logo-color-sm.png')}}" alt="Servicio de Cardiología">
                </a>

                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Mostrar menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% block header_navigation_links %}
                        {% if app.user.id is defined %}
                            <li>
                                <a href="{{ path('usuario_show', {'id': app.user.id }) }}">
                                    {% if app.user.profesion == constant('AppBundle\\Entity\\Usuario::PROFESION_MEDICO') %}
                                        <i class="fa fa-user-md" aria-hidden="true"></i>&nbsp;
                                    {% else %}
                                        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                                    {% endif %}
                                    {{ app.user }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
                                </a>
                            </li>
                        {% endif %}
                    {% endblock %}

                </ul>
            </div>
        </div>
    </div>
</header>
