{% extends 'layout/base.html.twig' %}

{% block body_id 'partido_new' %}

{% block main %}
    <div class="h4">Agregar partido</div>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('partido_index') }}">Cancelar</a>
    {{ form_end(form) }}
{% endblock %}
