{% extends 'layout/base.html.twig' %}

{% block body_id 'diagnostico_edit' %}

{% block main %}
    <div class="h4">Editar diagnóstico</div>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.diagnostico) }}

        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('diagnostico_index') }}">Cancelar</a>
    {{ form_end(edit_form) }}
{% endblock %}
