{% extends 'layout/base.html.twig' %}

{% block body_id 'diagnostico_new' %}

{% block main %}
    <div class="h4">Agregar diagnóstico</div>

    {{ form_start(form) }}
        {{ form_row(form.diagnostico) }}

        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a class="btn btn-danger" href="{{ path('diagnostico_index') }}">Cancelar</a>
    {{ form_end(form) }}
{% endblock %}
