{% extends 'base.html.twig' %}

{% block main %}
    <h1>Alta de diagn&oacutestico</h1>

    {{ form_start(form) }}
        {{ form_row(form.diagnostico) }}

        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a class="btn btn-link" href="{{ path('diagnostico_index') }}">Volver al listado</a>
    {{ form_end(form) }}
{% endblock %}
