{% extends 'base.html.twig' %}

{% block body_id 'motivo_new' %}

{% block main %}
    <h1>Agregar motivo de consulta</h1>

    {{ form_start(form) }}
        {{ form_row(form.motivo) }}

        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a class="btn btn-link" href="{{ path('motivo_index') }}">Volver al listado</a>
    {{ form_end(form) }}
{% endblock %}
