{% extends 'base.html.twig' %}

{% block body_id 'medicacion_new' %}

{% block main %}
    <h1>Agregar medicación</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a class="btn btn-link" href="{{ path('medicacion_index') }}">Volver al listado</a>
        {{ form_end(form) }}
{% endblock %}
