<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Servicio de Cardiología - Hospital San Martín{% endblock %}</title>
        <style type="text/css">
            {% include 'layout/print/bootstrap-flatly-3.3.7.min.css' %}
            {% include 'layout/print/style.css' %}
        </style>
    </head>
    <body id="{% block body_id %}{% endblock %}">
        <div class="header">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class="h4"><img src="{{logo_data|default('/img/logos/logo-color-sm.png')}}" alt="Servicio de Cardiología"> {% block document_title %}{% endblock %}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-xs-10">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </body>
</html>

