/* Navbar
-------------------------------------------------- */
.navbar-brand {
  padding: 7px 15px;
}

.navbar-brand p:nth-child(2) {
  font-size: 14px;
}

.navbar-header {
    color: #FFF;
}

.navbar-header div {
    display: inline-block;
    vertical-align: middle;
}

.navbar-header .titulo-documento {
    border-left: 1px solid #fff;
}

/*
Overwrite de los paneles
*/
.panel .panel-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.panel .panel-body {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.panel .panel-body .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    height: 1360px;
    color: #000;
}

.text-bold, .panel-default .panel-heading {
    color: #000;
    font-weight: bold;
}

/* Footer
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #eeeeee;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer p {
  color: #2c3e50;
  font-weight: bold;
  font-size: 12px;
}

#footer-datetime {
  text-align: right;
}

#footer-datetime i {
  color: #2c3e50;
  font-size: 12px;
  font-weight: bold;
  margin-left: 1.5rem;
}